---
	const name="Adnan Zainal Ariin"
	const propertis="Adnan | Co.id"
	const component="adnanzainal21"
	console.log("{name}, {component} ")
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{propertis}</title>
	</head>
	<body>
		<h1>Hallo Three A'm {name} </h1>
		<p><br> Saya Js Deeloper</p>
		<p> coba coba </p>

		
	</body>
</html>
